<h1>Pages#homddde</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= cl_image_tag "6883943-portrait_ggrd4w", width: 400, height: 300, crop: :thumb, gravity: :face %>
<%= cl_image_tag "6883943-portrait_ggrd4w", width: 400, height: 300, crop: :scale %>
<%= cl_image_tag "6883943-portrait_ggrd4w",width: 400, height: 300, crop: :fit %>
<%= cl_image_tag "6883943-portrait_ggrd4w",width: 400, height: 300, crop: :fill %>
<%= cl_image_tag "6883943-portrait_ggrd4w",width: 400, height: 300, crop: :limit %>
<%= cl_image_tag "6883943-portrait_ggrd4w",width: 400, height: 300, crop: :pad %>
<%= cl_image_tag "6883943-portrait_ggrd4w",width: 400, height: 300, crop: :crop %>
